# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Entornos virtuales
venv/
.env/

# IDEs
.vscode/
.idea/

# Bases de datos locales / temporales
*.db
*.sqlite
*.sqlite3

# Modelos de ML
*.pkl
*.joblib

# Logs
*.log

# Datos temporales
/data/tmp/
/data/cache/

# Sistema operativo
.DS_Store
Thumbs.db
